/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-text:white;
	--color-background:#3966c8;
	--accent-color: red;
}
/* 
@media (prefers-color-scheme: dark){
	:root {
		--color-text:white;
		--color-background:rgb(11, 8, 74);
		--accent-color: rgb(255, 0, 115);
	}
} */





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
@font-face {
	font-family: "American Typewriter";
	src: url("AmericanTypewriter-01.ttf");
}

body{
	background-color: var(--color-background);
	font-family: "American Typewriter", 'Courier New', Courier;
}


/* hamburger menu */
@media only screen and (max-width: 600px) {
	/* @media van w3school */
	header{
		display: flex;
		justify-content: space-between;
	}
	
	header ul{
		list-style: none;	
	}	
	
	header button{
		width: 3em;
		height: 3em;
	}
		
	header nav:nth-of-type(2) ul{
		display: flex;
		gap: .5em;
		list-style: none;
		justify-content: space-around;
	}
	
	header nav a{
		text-decoration: none;
	}
	
	header img, main img{
		display: block;
		max-width: 100%;
		height: auto;
	}
}

